In [1]:
import pandas as pd
import numpy as np

In [3]:
my_list = [10,25,35]

x = np.array(my_list)

print(x)

[10 25 35]

In [4]:
type(x)

numpy.ndarray

In [10]:
y=pd.Series(my_list)
print(y)

0    10
1    25
2    35
dtype: int64

In [11]:
type(y)

pandas.core.series.Series

In [14]:
index_values = ['Best','Second Best','Third Best']
my_list = [10,25,35]

one = pd.Series(data=my_list,index=index_values)
print(one)

Best           10
Second Best    25
Third Best     35
dtype: int64

In [15]:
index_values = ['Best','Second Best','Forth Best']
my_list = [10,25,40]

two = pd.Series(data=my_list,index=index_values)
print(two)

Best           10
Second Best    25
Forth Best     40
dtype: int64

In [16]:
total = one + two
total

Best           20.0
Forth Best      NaN
Second Best    50.0
Third Best      NaN
dtype: float64

In [17]:
type(total)

pandas.core.series.Series

In [24]:
ice_cream = [['MCC',1],['Butterscotch',2],['Butter Pecan',3]]


ice_cream_dataframe = pd.DataFrame(data=ice_cream,index=['Flavor 1','Flavor 2','Flavor 3'], columns=('Flavor','Scoops'))

ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3

In [20]:
type(ice_cream_dataframe)

pandas.core.frame.DataFrame

In [22]:
ice_cream = ['MCC','Butterscotch','Butter Pecan']
scoops = [1,2,3]

dataframe_icecream = {'Flavor': ice_cream, 'Scoops': scoops}

ice_cream_dataframe = pd.DataFrame(dataframe_icecream,index=['Flavor 1','Flavor 2','Flavor 3'] )
ice_cream_dataframe

                Flavor  Scoops
Flavor 1           MCC       1
Flavor 2  Butterscotch       2
Flavor 3  Butter Pecan       3